<!DOCTYPE html>
<html>
<head>
  <title>RSoft</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="app/styles/main.css">
  <script src = "app/scripts/plugins.js" type = "text/javascript"></script>
  <script src = "app/scripts/vendor.js" type = "text/javascript"></script>
  <script src = "app/scripts/main.js" type = "text/javascript"></script>
</head>
<body>

<%= yield %>

</body>
</html>
