<div id="hall" class="tablehall"></div>

<div id="menu-container"></div>

<div id="order_items" class="order_items">
    <div id="block_sum" class="sum">Order amount: <span id="sum"></span></div>
</div>