
<h1>Restaurant application</h1>
<div id="app-container">
    <div id="table-container">
        <p class = "table-header">Tables</p>
		<input type="button" id="showtablemap" class="mapbtn" value="Show Map">
    </div>
    <div id="menu-container">Menu</div>
    <div id="order-container">Order</div>
</div>