<h1>Restaurant application</h1>
<div id="app-container">
    <div id="table-container">Table</div>
    <div id="menu-container">Menu
	        <button type="button" id="publish">Add Items</button>
		<div>
            <div id="Drinks1" style="background-color: #808080">Drinks:&nbsp; <br> </div>
            <div id="Desserts1" style="background-color: #808080">Desserts:&nbsp; <br> </div>
            <div id="Entrees1" style="background-color: #808080">Entrees:&nbsp; <br> </div>
            <div id="Bar1" style="background-color: #808080">Bar: <br> </div>
            <div id="Sides1" style="background-color: #808080">Sides: <br> </div>
		</div>
		
		<script>
			$( "#publish" ).click(function() {
				Backbone.Mediator.publish( "categories-ready", {
					"Drinks": $( "#Drinks1" )
					, "Desserts": $( "#Desserts1" )
					, "Entrees": $( "#Entrees1" )
					, "Bar": $( "#Bar1" )
					, "Sides" : $( "#Sides1" )
				});
			});

        Backbone.Mediator.sub("addOrderItem", function(params){console.log(params)});
		</script>
		</div>
    <div id="order-container">Order</div>
</div>

<div id="hall" class="tablehall"></div>

<div id="menu-container"></div>

<div id="order_items" class="order_items">
    <div id="block_sum" class="sum">Order amount: <span id="sum"></span></div>
</div>
