$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu_item_tpl{
  position: relative;
  padding-left: 4;
  padding-right: 4;
  background-color: #ffffff;
  text-align: justify;
  vertical-align: middle;
}

.menu_item_name{
  width: 30%;
  display: inline-block;
}

.menu_item_description{
  width: 30%;
  display: inline-block;
}

.menu_item_price{
  width: 10%;
  display: inline-block;
  right: 32px;
}
.add_to_order{
  width: 32px;
  display: inline-block;
  right: 1px;  
}

