.menu_item_tpl{
  background-color: #ffffff;
  text-align: justify;
  vertical-align: middle;
}

.add_to_order{
	width:32px;
	display: inline-block;
	cursor: pointer;
}

.menu_item_name{
  display: inline-block;
  width: 70%;
}

.menu_item_name:hover{
	color:red;
  cursor: pointer;
}

.menu_item_price{
  display: inline-block;
  width: 25%;
}

.scale_cont{
  width: 335px;
  display: inline-block;
}