<div class = "menu_item_tpl">
	<div class = "menu_item_name"><%= name %></div>
	<div class = "menu_item_description"><%= description %></div>
	<div class = "menu_item_price"><%= price %> $</div>
	<div class = "add_to_order"><img src="images/blue_arrow_right.png" alt="add_to_order"></div>
</div>


