<div class = 'desc' >
    <div class = "desc_name"><%= name %></div>
    <div class = "desc_description"><%= description %></div><br>
	<div class = "desc_pic"><img src="images/<%= id %>.jpg"></div>
</div>

