<div class="order_item_name"><%=name%></div>
<div id="add_amount" class="add_amount"><br/></div>
<div id="order_item_amount" class="order_item_amount"><%=amount%></div>
<div id="remove_amount" class="remove_amount"><br/></div>
<div class="order_item_price"><%=price%></div>
<span class="order_item_status"><%=status%></span>