<div class = "order_box">
	<p id="order_head"> Order</p>
	
	<div id="order_items" class="order_items">
		<div class="sum">Order amount: <span id="sum"></span></div>
	</div>	
	
	<input type = "button" id = "order_close" value = "Close order">  </input>
</div>