<div id="block_sum" class="sum">
  	Order amount: <span id="sum"><%=sum%></span>
</div>
<div id="loader_block" class="preloader_block">
  	<img src="app/images/preloader2.gif" class="preloader">
  	<div class="helper"></div>
</div>